.car__item {
  border: 1px solid rgb(254, 251, 254);
  text-align: center;
 padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 100%;
 border: 1px solid #ddd;
 border-radius: 8px;
 overflow: hidden;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 transition: box-shadow 0.3s ease;
 background-color: #fff;
}

.car__item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transform: translateY(-5px);
}

.car__img {
  margin-bottom: 10px;
  margin-top: 11px;
  transition: transform 0.4s;
}

.car__img:hover {
  transform: scale(1.3);
}

.model__content h5 a {
  color: #27061e;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.model__content h5 a:hover {
  color: #6f7071;
}

.model__content h5 {
  margin-bottom: 10px;
  font-style: normal;
  font-display: swap;
}
.model__price {
  font-weight: bold;
}


.model__content span  {
  color: rgb(13, 13, 13);
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 10px;
}


@media only screen and (max-width: 992px) {
  .model__content h5 a {
    font-size: 0.9rem;
  }
  .car__item {
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .car__item {
    padding: 15px;
  }
  .model__content h5 a {
    font-size: 0.8rem;
  }
}
