.slider__item {
  max-width: 100%;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.slider__item-01 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("../assests/all-images/sliders-img/slider-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.slider__item-02 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("../assests/all-images/sliders-img/slider-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item-03 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url("../assests/all-images/sliders-img/slider-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__slider {
  overflow: hidden;
}

.slider__content {
  padding-top: 150px;
}

.slider__content h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

.reserve__btn {
  background: #fff !important;
  color: #be42b2 !important;
  border: none;
  outline: none;
}

.reserve__btn a {
  text-decoration: none;
  font-weight: 600;
  color: #320841;
}

.reserve__btn:hover {
  background: #b42fd5;
  color: #fff;
}


.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.custom-arrow.next {
  right: 15px;
}

.custom-arrow.prev {
  left: 15px;
}

.hero__slider {
  position: relative;
}

@media only screen and (max-width: 992px) {
  .slider__item {
    height: 530px;
    width: 100%;
  }

  .slider__content {
    padding-top: 100px;
  }

  .slider__content h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .slider__item {
    height: 450px;
  }

  .slider__content {
    padding-top: 80px;
  }

  .slider__content h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .slider__item {
    height: 350px;
  }

  .slider__content {
    padding-top: 60px;
  }

  .slider__content h1 {
    font-size: 1.5rem;
  }
}